/* 设置顶部导航栏的样式 */
.topnav {
    overflow: hidden;
  }
  
  /* 设置 topnav 链接的样式 */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* 改变鼠标悬停时的颜色 */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }